.explore-category {
    text-align: center;
    padding: 3rem 2rem;
    background-color: #f9f9f9;
  }
  
  .explore-category h2 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #333;
  }
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  
  .category-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .category-item img {
    max-width: 50px;
    margin-bottom: 1rem;
  }
  
  .category-item h3 {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .category-item p {
    color: #0aad57;
    font-weight: bold;
  }